{% extends "layout.html" %}

{% block pageTitle %}
Using ‘Hide this page’ and staying safe online
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Using ‘Hide this page’ and staying safe online</h1>{{releaseVersion | log }}
    <div class="govuk-inset-text">
      You can use the ‘Hide this page’ button to quickly exit this website.</div>

    <p class="govuk-body">
      The ‘Hide this page’ button will quickly hide the page you’re on. This might be less noticeable to someone around
      you than closing the web browser completely.</p>

    <h2 class="govuk-heading-m">How it works</h2>
    <p class="govuk-body">When you click the ‘Hide this page’ button, it will open a new tab and navigate to [URL].</p>

    <p class="govuk-body">The previous tab will navigate to [URL] and make your web browser history appear as if you’ve
      been looking at [X].</p>

    <p class="govuk-body">However, it does not actually erase your history. If you use the back button on your browser,
      it will return back to the pages you were on before.</p>

    <h2 class="govuk-heading-m">Staying safe online</h2>
    <p class="govuk-body">Use your web browser settings to increase your privacy, such as turning off browsing history
      or using the browser in private/incognito mode.</p>

    <p class="govuk-body">If you think your devices or internet search activities are being monitored, try to use a
      device that isn’t being monitored. That should be a device that the person does not or has not had physical or
      remote access to. This is the safest thing to do if you don’t want someone to know that you are visiting certain
      websites.</p>

  </div>

  {{ govukHideThisPage({
  text: "Hide this page",
  currentTabURL: "https://www.google.com/",
  newTabURL: "https://www.bbc.co.uk/weather",
  fakePageTitle: "How to prevent the spread of Coronavirus - GOV.UK"
  }) }}
</div>
{% endblock %}