{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/where-do-you-live" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Where does the other parent live?
    </h1>{{releaseVersion | log }}

    <div class="govuk-form-group">
      <div id="more-detail-hint" class="govuk-hint">
        Provide the town or city and country that the other parent lives in. <br>If you do not know where the other parent lives, write 'I do not know where the other parent lives'.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint"></textarea>
    </div>

    <form action="/paying-or-receiving" method="post" novalidate>

      <input type="hidden" name="continue" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-hide-this-page" data-module="govuk-hide-this-page">
      <a href="https://www.google.com/" role="button" draggable="false"
        class="govuk-button govuk-button--warning govuk-hide-this-page__button govuk-js-hide-this-page-button"
        data-module="govuk-button" data-new-tab-url="https://www.cgtn.com/nature/weathermap.html"
        data-fake-page-title="How to prevent the spread of Coronavirus - GOV.UK">
        Hide this page
      </a>
    </div>
  </div>
</div>

{% endblock %}