{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="/where-do-you-live" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Does the other parent live in England, Scotland, Wales or Northern Ireland?
    </h1>{{releaseVersion | log }}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-does-other-parent-live" name="where-does-other-parent-live"
              type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="where-does-other-parent-live">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-does-other-parent-live-2" name="where-does-other-parent-live"
              type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="where-does-other-parent-live-2">
              No
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-does-other-parent-live-6" name="where-does-other-parent-live"
              type="radio" value="abroad">
            <label class="govuk-label govuk-radios__label" for="where-does-other-parent-live-6">
              I do not know where the other parent lives
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <form action="/paying-or-receiving" method="post" novalidate>

      <input type="hidden" name="continue" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-hide-this-page" data-module="govuk-hide-this-page">
      <a href="https://www.google.com/" role="button" draggable="false"
        class="govuk-button govuk-button--warning govuk-hide-this-page__button govuk-js-hide-this-page-button"
        data-module="govuk-button" data-new-tab-url="https://www.cgtn.com/nature/weathermap.html"
        data-fake-page-title="How to prevent the spread of Coronavirus - GOV.UK">
        Hide this page
      </a>
    </div>
  </div>
</div>

{% endblock %}